{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Slug</th>
                <th>parcourir/éditer</th>
                <th>Favori</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.category.name }}</td>
                <td>{% for tag in article.tags %}
                        {{ tag.name }}
                    {% endfor %}</td>
                <td>{{ article.slug }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
                <td>
                    {#<script>
                        function addToFavorite() {
                            fetch('{{ path('article_favorite', {'id': article.id}) }}')
                                .then(response => response.json())
                                .then(json => {
                                    let favoriteElt = document.getElementsByClassName(article.id);
                                    if (json.isFavorite) {
                                        favoriteElt.classList.remove('far');
                                        favoriteElt.classList.add('fas');
                                    }
                                    else {
                                        favoriteElt.classList.remove('fas');
                                        favoriteElt.classList.add('far');
                                    }
                                });
                        }

                    </script>
                    <a onclick="addToFavorite()">
                        {{ isFavorite ? '<i class={{"fas fa-heart #{article.id}"}}></i>' : '<i class={{"far fa-heart #{article.id}"}}></i>' }}
                    </a>#}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
